<!DOCTYPE html>
<html>
	<head>
<link rel="stylesheet" href="/static/css/style.css" media="all"/>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<title>Olga Sergeeva</title>
	</head>

<body>
	 <!-- Menu -->
	
	<div id="header">
		<section class="color-1">
		    <nav class="cl-effect-1">
		<img id="image" src="images/header.png" alt="Header">
			<ul>
		        <li class="navig-right"><a href="#">HOME</a></li>
		        <li class="navig-right2"><a href="#">ABOUT</a></li>
		        <li class="navig-left"><a href="#">WORK</a></li>
		        <li class="navig-left2"><a href="#">CONTACT</a></li>
            </ul>
            </nav>
	    </section>
	</div>



<div class="content">
	<img id="designer" src="images/Designer.png" alt="Olga">
	<img id="developer" src="images/Developer.png" alt="Olga">
</div>


	  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	  <script src="script.js"></script>
	</body>
</html>
